h2 Incubator + Coworking Space
p.
  In the Spring of 2012 a few students were given an unused space in the Technology Advancement Building.
  They turned it into Startup Shell, or 'the Shell'. From the start we already had a a strong group of students working
  on their own companies. We revamped the space over the summer with furniture from our old dorms and made a hardware station.
  That Fall we officially opened the Shell to students and boosted ourselves to over 70 students from all across campus working
  on all sorts of awesome projects and companies. 
p.
  Desks, monitors, 3d printers and a hardware station are only the surface of what we provide.
  The community of visionary and ambitious people is what really makes this space kick.
  We host sick events such as group dinners, hackathons, and talks. 
  We hit on every detail needed for a company from legal advice to how to make an awesome product video.
p.
  Over the next few months we will be revamping the space, doubling its size and adding in a state of the art
  prototyping lab. You don't want to miss out!