h2 Membership
p.
  Join cool people making cool things in the Shell.
  We are looking for people who can contribute on multiple 
  levels: individual, project, organization, and community.
  Membership has perks and resources to push your project
  to the next level.