<<<<<<< HEAD
h2 Press
=======
h2 News
>>>>>>> 418fcbed71611f0679146b20268d3d606a2bcee9
a(href="http://www.diamondbackonline.com/news/article_aeed6d9c-be15-11e3-9903-0017a43b2370.html" target="_blank")
  h3 Weekend at Bitcamp
  p April 8, 2014 | Diamondback
a(href="http://umdrightnow.umd.edu/news/student-innovators-converge-umd-bitcamp" target="_blank")
  h3 Student Innovators to Converge at UMD for Bitcamp
  p March 13, 2014 | UMD Right Now
a(href="http://www.diamondbackonline.com/news/campus/article_d535d07c-316e-11e3-971d-0019bb30f31a.html" target="_blank")
  h3 Building Something Great
  p October 10, 2013 | Diamondback
a(href="http://hiddenumd.weebly.com/2/post/2013/09/the-startup-shell.html" target="_blank")
  h3 The Startup Shell
  p September 27, 2013 | UberStories
a(href="http://uberstories.com/the-startup-shell-how-a-student-run-incubator-is-creating-a-stronger-dctech-ecosystem" target="_blank")
  h3 How a Student Run Incubator is Creating a Stronger DCTech Ecosystem
  p September 5, 2013 | UberStories
a(href="http://inthecapital.streetwise.co/2013/03/08/startup-shell-umd-student-run-startup-incubator-paving-the-way-for-big-things-to-come" target="_blank")
  h3 UMD's Student-Run Incubator Paving the Way for Big Things to Come
  p March 8, 2013 | In The Capital
a(href="http://vimeo.com/73476285" target="_blank")
  h3 How Did The Shell Begin?
  p 7 months ago | Mtech