a(href="http://eng.umd.edu" target="_blank")
  img.startup(src="/images/sponsors/clark_logo.png", alt: "Clark School", target="_blank")
a(href="http://neelbauerlaw.com")
  img.startup(src="/images/sponsors/neelbauer_logo.png", alt: "Neelbauer Law", target="_blank")
a(href="http://mtech.umd.edu")
  img.startup(src="/images/sponsors/mtech_logo.png", alt: "Mtech" target="_blank")
a(href="http://innovation.umd.edu")
  img.startup(src="/images/sponsors/aie_logo.png", alt: "Academy for Innovation and Entrepreneurship" target="_blank")
a(href="http://www.rhsmith.umd.edu/centers-excellence/dingman-center-entrepreneurship", target="_blank")
  img.startup(src="/images/sponsors/dingman_logo.png", alt: "Dingman Center" target="_blank")
a(href="http://spinnakr.com")
  img.startup(src="/images/sponsors/spinnakr_logo.png", alt: "Spinnakr", target="_blank")