script(src='/public/javascripts/mailchimp.js')

//- form(action="http://startupshell.us8.list-manage2.com/subscribe/post?u=ab309f640b0f94f8e5fd0a2e8&amp;id=af8824bb76" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
//- 	up
//- 		input(type="email" value="" placeholder="email address" name="EMAIL" class="required email" id="mce-EMAIL" autofocus)
//- 	clear(id="mce-responses")
//- 		response(id="mce-error-response" style="display:none")
//- 		response(id="mce-success-response" style="display:none")
//-     //- <div style="position: absolute; left: -5000px;"><input type="text" name="b_ab309f640b0f94f8e5fd0a2e8_af8824bb76" value=""></div>
//- 	clear
//- 		input(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="position: absolute; left: -9999px")
form(action="http://startupshell.us8.list-manage2.com/subscribe/post?u=ab309f640b0f94f8e5fd0a2e8&amp;id=af8824bb76" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
	input(type="email" value="" placeholder="email address" name="EMAIL" class="required email subscription" id="mce-EMAIL" autofocus)
	clear(id="mce-responses")
		response(id="mce-error-response" style="display:none")
		response(id="mce-success-response" style="display:none")
	clear
		input(type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="position: absolute; left: -9999px")
p Put in your email, press enter, get our newsletter
