@import '../bower/bourbon/dist/bourbon';
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700);
@import 'mixins';
$primary-color:#d84136;
$primary-color-light:lighten($primary-color,15%);
$text-color:#666;
$white:#fff;
$font:"Titillium Web", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
html {
    height: 100%;
}
body {
    font-family: $font;
    font-size: 16px;
    height: 100%;
    color: $text-color;
}
h2 {
    font-size: 36px;
    border-bottom: 1px #eeeeee solid;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}
h3 {
    color: $primary-color;
    font-weight: 600;
    font-size: 22px;
}
a {
    color: $primary-color;
    &:hover {
        text-decoration: none;
        color: $primary-color-light;
    }
}
.btn {
    margin: 10px 15px 10px 0;
    outline: none;
    border: none;
    @include border-radius(20px);
}
.btn-default {
    background: $primary-color;
    border-radius: 0;
    padding: 15px 30px;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    &:active, &:focus, &:visited {
        background: $primary-color;
        color: $white;
        box-shadow: none;
        outline: none;
    }
    &:hover {
        background: $primary-color-light;
        color: $white;
    }
}
.btn-inverse {
    background: $white;
    color: $primary-color;
    &:active, &:focus, &:visited {
        background: $primary-color;
        color: $white;
    }
}
.btn-primary {
    background: none;
    border:1px solid $white;
    border-radius: 0;
    padding: 15px 30px;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    &:hover, &:active, &:focus {
        background: $white;
        color: $primary-color;
        box-shadow: none;
        outline: none;
        border:1px solid $white;
    }
}
.btn-large {
    width: 100%;
    padding: 40px;
    font-size: 26px;
}
section {
    margin: 50px 0;
}
/* Navbar */

.navbar {
    text-transform: lowercase;
    z-index: 15;
    @media (max-width:768px) {
        z-index: 20;
    }
    min-height: 60px;
    border-radius: 0;
    margin: 0;
    // box-shadow: 0 -0.125rem 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
    border: none;
    &.chill {
        background: $primary-color;
        @include transition(all 0.2s ease);
    }
    .navbar-header {
        .icon-bar {
            background-color: $white;
        }
        .navbar-brand {
            img {
                height: 100%;
            }
            * {
                display: inline-block;
            }
            span {
                color: $white;
                font-size: 16px;
                margin-left: 8px;
                margin-top: -2px;
                line-height: 2.3;
            }
        }
    }
    .navbar-collapse {
        border: none;
        box-shadow: none;
        z-index: 20;
        ul {
        @media (max-width:768px) {
            background: $primary-color;
        }
        }
    }
    .navbar-nav {
        float: right;
        li {
            a {
                color: $white;
                padding: 20px;
                &:hover {
                    color: $primary-color;
                    background: white;
                }
            }
        }
    }
}
.active {
    color: $text-color;
}
ul.navbar-nav {
    &:hover {
        color: $text-color;
    }
}
/* Video */

#mast {
    height: 680px;
    background-repeat: no-repeat;
    @inclue background-size(cover);
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    background: $primary-color;
    &.banner {
        height:300px;
        p {
            margin: {
                top: 50px;
            }
        }
    }
    #mast_inner-1 {
        overflow: hidden;
        background: url("./images/timelapse.jpg") no-repeat;
        @inclue background-size(cover);
        #mast_inner-2 {
            min-width: 100%;
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                background: linear-gradient(rgba(216, 65, 54, 0.5), rgba(216, 65, 54, 0.5)), rgba(0, 0, 0, 0.25);
            }
            video {
                min-width: 100%;
                max-width: 100%;
                display: block;
                z-index: 5;
            }
            img {
                width: 100%;
            }
        }
    }
    .video-txt {
        z-index: 15;
        color: $white;
        position: absolute;
        top: 55%;
        @include transform (translateY(-50%));
        text-align: center;
        width: 100%;
        h1 {
            font-size: 5vw;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 -200px -30px;
            text-align: center;
        }
        .callout {
            // padding: 30px 0;
            color: $white;
            font-size: 1.5em;
            text-align: center;
            // margin-bottom: -30px;
        }
        img {
            width: 70px;
            height: 70px;
            margin: 50px 0 0;
        }
    }
}

/* Content */

/* Ventures */

#ventures {
    .venture {
        padding: {
            top: 15px;
            bottom: 15px;
        }
        img {
            max-width:100%;
            height:auto;
            text-align:center;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
/* Events */
#events {
    .event {
        a {
            color: inherit;
        }
    }
}

/* Membership */

#membership .no-apply {
    margin-top: 30px;
    font-weight: 600;
}
/* Sponsors */

#sponsors {
    margin-bottom: 20px;
    text-align: center;
    .sponsor {
        line-height: 80px;
        height:80px;
        img {
            max-width:100%;
            height:auto;
            text-align:center;
            opacity: .8;
            @include filter(grayscale(100%));
            margin: {
                bottom: 20px;
            }
        }
    }
}
/* Participants */
#participants {
    .participant {
        margin: {
            top: 10px;
            bottom: 30px;
        }
        img {
            max-width: 100%;
        }
    }
}

/* Schedule */
#schedule {
  table {
    td {
      padding: 5px;
    }
  }
}

/* Footer */

footer {
    background-color: #666666;
    color: white;
    padding: 30px;
    margin:50px 0 0;
    input {
        padding-top: 15px;
        border: none;
        outline: none;
        width: 100%;
        font-size: 3rem;
        color: #eeeeee;
        border-bottom: 1px solid #999999;
        background-color: #666666;
        font-family: "Titillium Web";
        font-weight: 600;
        margin-bottom: 10px;
    }
    .copy {
        margin-top: 15px;
    }
}
