@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200);
$primary-color:#dd6666;
$text-color:#666666;

$font: "Titillium Web", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;


html {
  height: 100%;
}
body {
  font-family: $font;
  font-size: 16px;
  height: 100%;
  color: $text-color;
}
h2 {
  font-size: 36px;
  border-bottom: 1px #eeeeee solid;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}
h3 {
  color: $primary-color;
  font-weight: 600;
  font-size:22px;
}
.row {
  margin-top:20px;
}

.btn {
  margin:10px 15px 10px 0;
  outline:none;
  border:none;
}
.btn-default {
  background: $primary-color;
  border-radius:0;
  padding:15px 30px;
  color:#fff;
  text-transform:uppercase;
  font-weight:600;
}
.btn-default {
  &:hover {
    background: #e27b7b;
    color:#fff;  
  }
}
.btn-large {
  width:100%;
  padding:40px;
  font-size:26px;
}

/* Navbar */

.navbar {
  background-color: #eeeeee;
  box-shadow: 0 -0.125rem 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
}


.navbar-brand {
  * {
    display: inline-block;
  }
  span {
    font-size: 16px;
    margin-left: 20px;
    margin-top: -5px;
    line-height: 2.3;
  }
}


.navbar-nav {
  float: right;
  li {
    a {
      padding: 20px;
      text-transform: lowercase;
      &:hover {
        background: white;
      }
    }
  }
}

.active {
  color: $text-color;
}

ul.navbar-nav {
  &:hover {
    color: $text-color;
  }
}



/* Video */

.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  z-index: -100;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(rgba(221, 102, 102, 0.5), rgba(221, 102, 102, 0.5)), rgba(0, 0, 0, 0.25);
  }
  video {
    position: absolute;
    z-index: 0;
    min-width: 100%;
    background: url("./images/timelapse.jpg");
  }
}
.jumbotron {
  background: none;
  // transform: translateY(30vw);
  height: 100%;
  color: #fff;
}

/* Sponsors */
#sponsors {
  margin-bottom:20px;
  text-align:center;
  .sponsor img {
    opacity:.8;
  }
}
