@import 'mixins';

// TYPOGRAPHY

h1 {
  font-size: 5em;

  text-transform: uppercase;
  margin: .5em 0;
  line-height: 1;
}





// Styles

.header {
  width: 100%;
  height: 5rem;
  background-color: $light-gray;
  position: fixed;
  z-index: 10;
}

.home {
  z-index: -1;
  @include bg-image('images/timelapse.jpg');
  height: 55rem;
  color: white;
  h1 {
    margin-top: 15rem;
    text-transform: uppercase;
    font-size: 5em;
  } 
}



h2.heading {
  font-size:3.5em;
  color: $gray;
  border-bottom:1px $light-gray solid;
  text-transform: uppercase;
  font-weight: $bold; 
}

.logo {
  opacity: .8;
  &:hover {
    opacity: 1;
  }
  padding-right: 1rem;
  padding-top: 1rem;

}

.text-center {
  text-align: center;
}


/* FACNY STYLEZ */

::-moz-selection {
    background: $red;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $red;
    color: $white;
    text-shadow: none;
}

