// COLORS

$red: #dd6666;

$gray: #666666;
$light-gray: #eeeeee;
$mid-gray: #999999;

$white: #ffffff;
$black: #000000;


// TYPOGRAPHY

$titillium: 'Titillium Web';

$bold: 700;


// LAYOUT

.text-center {
  text-align: center;
}


// IMAGES

@mixin bg-image($imageURL) {
  background: url('../'+$imageURL) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}