extends layout
block content

  .content
    .container
      .row
        .col-sm-12
          .apply-form
            h2 Apply
            p Join cool people making cool things in the Shell. We are looking for people who can contribute on multiple levels: individual, project, organization, and community. Membership has specific perks and resources to push your project to the next level including 24-hour swipe access to our decked-out coworking space, prototyping tools including 3D printer and electronics device lab, funding opportunities and investor interactions, mentorship from entrepreneurial professionals, dedicated desk and workstation space plus storage, subscriptions to various web products.
            p All undergraduate and graduate students are eligible to apply regardless of major, college, or graduation year. Every applicant will be offered an interview, which will be conducted in groups. We will send out emails about signing up for interview slots. Applications will also be accepted on a more selective rolling basis afterwards. There is no limit to the number of times you may apply. Should you not be accepted for membership, there are many opportunities to stay engaged, including special programs for applicants only.
            p If you apply as a group or startup team, your team will only be admitted in full so as to not fragment team leadership. Each member must still fill out applications individually, but please mention your team in the projects question.</p>
            p <a href="mailto:hello@startupshell.org" target="_blank">Feel free to email us with any and all questions.</a>
            <script type="text/javascript" src="http://form.jotform.co/jsform/32348455323857"></script>
