extends layout

block content

  // HEADER

  .video-container
    .overlay
    <video autoplay loop poster="/images/timelapse.jpg" id="bgvid"><source src="/images/timelapse.webm" type="video/webm"><source src="/images/timelapse.mp4" type="video/mp4"><source src="/images/timelapse.ogv" type="video/ogv"></video>
  .feature
    .container
      .row
        .col-sm-12.text-center
          h1 Think. Build. Play.
          p.
            Startup Shell is a student-run nonprofit incubator 
            that fosters entrepreneurship through collaboration 
            at the University of Maryland. These 
            people are building something great.
  .content
    .container
      .row#about
        .col-sm-12
          .about
            include includes/about
      .row#ventures
        .col-sm-12
          .ventures
            include includes/ventures

      .row#connect
        .col-sm-12
          .row
            .col-sm-6
              .events
                h2 Events
              .give-a-talk
                a(href="/talk" target="_blank")
                  button.talk
                      p Give a shell talk!
            .col-sm-6
              .news
                include includes/news
      .row
        .col-sm-12
          .membership
            include includes/membership

      .row
        .col-sm-12
            button.apply Big Ol' Apply Button
      .row
        .col-sm-12
          .text-center.sponsors
            include includes/sponsors
