extends layout
block content

  .video-container
    .overlay
    <video autoplay loop poster="/images/timelapse.jpg" id="bgvid"><source src="/images/timelapse.webm" type="video/webm"><source src="/images/timelapse.mp4" type="video/mp4"><source src="/images/timelapse.ogv" type="video/ogv"></video>
  .feature
    .container
      .row
        .col-sm-12.text-center
          h1 Think. Build. Play.
          p.
            Startup Shell is a student-run nonprofit incubator 
            that fosters entrepreneurship through collaboration 
            at the University of Maryland. These 
            people are building something great.

  .content
    .container
      .row#about
        .col-sm-12.section
          .about
            include includes/about
      .row#ventures
        .col-sm-12.section
          .ventures
            include includes/ventures

      .row#connect
        .col-sm-12.section
          .connect
            .row
              .col-sm-6
                .events
                  h2 Events
                .give-a-talk
                  a(href="/talk" target="_blank")
                    button.talk
                        p Give a Shell Talk
              .col-sm-6
                .news
                  include includes/news

      .row#membership
        .col-sm-12.section
          .membership
            include includes/membership

      .row#apply
        .col-sm-12
          h2 Membership
          a(href="/apply")
            button.apply Big Ol' Apply Button
      .row
        .col-sm-12.section.text-center
          .partners
            include includes/partners
