extends layout

block content

  nav.navbar.navbar-default.navbar-fixed-top.header(role="navigation")
    .container
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse",data-target="#navigation")
          span.sr-only Toggle
          span.icon-bar
        a.navbar-brand(href="/"): img(src='/images/logo.svg')
        
      .collapse.navbar-collapse#navigation
        ul.nav.navbar-nav
          li: a(href="#about") about
          li: a(href="#ventures") ventures
          li: a(href="#connect") connect
          li: a(href="#") apply
  .video-container
    .overlay
    <video autoplay loop poster="/images/timelapse.jpg" id="bgvid"><source src="/images/timelapse.webm" type="video/webm"><source src="/images/timelapse.mp4" type="video/mp4"><source src="/images/timelapse.ogv" type="video/ogv"></video>
  .feature
    .container
      .row
        .col-sm-12.text-center
          h1 Think. Build. Play.
          p.
            Startup Shell is a student-run nonprofit incubator 
            that fosters entrepreneurship through collaboration 
            at the University of Maryland. These 
            people are building something great.
  .content
    .container
      .row#about
        .col-sm-12
          .about
            h2 Incubator + Coworking Space
            p.
              Our students are absolutely crazy. With different backgrounds, 
              experience levels, skills, and interests, members bring a 
              lot to the table for collaboration and knowledge sharing.
              Get in on the action by applying for membership or participating
              in events.
            p.
              More stuff goes here

      .row#ventures
        .col-sm-12
          .ventures
            h2 Ventures
            .text-center
              each img in images
                a(href="#{img[0]}")
                  img.startup(src='/images/logos/'+'#{img[1]}')

      .row#connect
        .col-sm-12
          .row
            .col-sm-6
              .events
                h2 Events
                p events go here
            .col-sm-6
              .news
                h2 News
                a(href="http://www.diamondbackonline.com/news/article_aeed6d9c-be15-11e3-9903-0017a43b2370.html")
                  p Weekend at Bitcamp
                a(href="http://umdrightnow.umd.edu/news/student-innovators-converge-umd-bitcamp")
                  p Student Innovators to Converge at UMD for Bitcamp
                a(href="http://www.mtech.umd.edu/news/news_story.php?id=7617")
                  p The UMD Startup Shell is Now Accepting Applications
                a(href="http://www.diamondbackonline.com/news/campus/article_d535d07c-316e-11e3-971d-0019bb30f31a.html")
                  p Building Something Great
                a(href="http://inthecapital.streetwise.co/2013/03/08/startup-shell-umd-student-run-startup-incubator-paving-the-way-for-big-things-to-come/")
                  p Startup Shell: UMD's Student-Run Incubator Paving the Way for Big Things to Come
                a(href="http://vimeo.com/73476285")
                  p How Did The Shell Begin?

      .row
        .col-sm-12
          .membership
            h2 Membership
            p.
              Join cool people making cool things in the Shell.
              We are looking for people who can contribute on multiple 
              levels: individual, project, organization, and community.
              While we have many ways to engage otherwise, membership
              has specific perks and resources to push your project
              to the next level including:
            ul
              li 24-hour swipe access to our decked-out coworking space
              li Prototyping tools including 3D printer and electronics device lab
              li Funding opportunities and investor interactions
              li Mentorship from entrepreneurial professionals
              li Dedicated desk and workstation space plus storage
              li Subscriptions to various web products

      .row
        .col-sm-12
          button.apply Big Ol' Apply Button