doctype html
html
  head
    title The Startup Shell
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
    link(rel='stylesheet',href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/jackstrap.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content
