.text-center {
  text-align: center; }

h1 {
  font-size: 10rem;
  color: white;
  text-transform: uppercase;
  margin: .5em 0;
  line-height: 1;
  font-weight: 700; }

h2 {
  font-size: 5.5rem;
  color: #666666;
  border-bottom: 1px #eeeeee solid;
  text-transform: uppercase;
  font-weight: 700; }

h3 {
  font-size: 1.75rem;
  color: #666666;
  line-height: 1.25; }

p {
  margin: 1rem 0; }

.shell-logo {
  padding-top: .8rem; }

.header {
  padding: .2rem;
  background-color: #eeeeee;
  -moz-box-shadow: 0 -0.125rem 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 -0.125rem 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 -0.125rem 0.5rem 0.25rem rgba(0, 0, 0, 0.25); }

.navbar {
  padding: 0; }
  .navbar .navbar-nav li a {
    padding: 2rem; }
    .navbar .navbar-nav li a:hover {
      background: white; }

.feature {
  max-height: 680px;
  color: white;
  padding: 10vw 0; }
  .feature p {
    font-size: 2rem;
    max-width: 80%;
    margin: 0 auto; }

.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  z-index: -100; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(rgba(221, 102, 102, 0.5), rgba(221, 102, 102, 0.5)), rgba(0, 0, 0, 0.25); }

video#bgvid {
  position: absolute;
  z-index: 0;
  min-width: 100%;
  background: url(/images/timelapse.jpg); }

.content {
  background: white; }

.subscribe {
  background-color: #666666;
  border-bottom: 1px solid #eeeeee; }
  .subscribe .row {
    padding: 1rem;
    background-color: #666666; }

#subscribe {
  border: none;
  outline: none;
  width: 100%;
  padding: 2rem;
  font-size: 3rem;
  color: #eeeeee; }

.col-sm-12 {
  padding-top: 4rem; }

.startup {
  opacity: .8;
  padding-right: 1rem;
  padding-top: 1rem; }
  .startup:hover {
    opacity: 1; }

button.apply {
  background: #dd6666;
  color: white;
  outline: none;
  border: none;
  padding: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  width: 100%; }
  button.apply:hover {
    color: #eeeeee; }

.events {
  margin-bottom: 1.7rem; }
  .events p {
    color: #999999; }
  .events a {
    text-decoration: none; }
    .events a:hover p {
      color: #666666; }
  .events h3 {
    color: #dd6666;
    font-size: 2.5rem;
    font-weight: 700; }

.eventContent {
  color: #666666; }

button.talk {
  background: #dd6666;
  color: white;
  outline: none;
  border: none;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
  width: 50%; }
  button.talk:hover {
    color: #eeeeee; }

input {
  background-color: #666666;
  font-family: "Titillium Web";
  font-weight: 400; }

.red {
  color: #dd6666; }

::-moz-selection {
  background: #dd6666;
  color: white;
  text-shadow: none; }

::selection {
  background: #dd6666;
  color: white;
  text-shadow: none; }

.sponsors {
  padding-bottom: 2rem; }

.news {
  margin-bottom: 1.7rem; }
  .news p {
    color: #999999; }
  .news a {
    text-decoration: none; }
    .news a:hover p {
      color: #666666; }
  .news h3 {
    color: #dd6666;
    font-size: 2.5rem;
    font-weight: 700; }

.footer {
  background-color: #666666;
  color: white;
  padding: 1rem; }
  .footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .footer ul li {
      display: inline-block; }
      .footer ul li:hover {
        opacity: 0.4; }
