@import 'mixins';

// LAYOUT

html {
  overflow-y: scroll;
}


// TYPOGRAPHY

h1.heading {
  font-size: 5rem;
  color: $red;
  text-transform: uppercase;
  margin: .5em 0;
  line-height: 1;
}

h2.heading {
  font-size:3.5rem;
  color: $gray;
  border-bottom: 1px $light-gray solid;
  text-transform: uppercase;
  font-weight: $bold;
}

h3 {
  font-size: 1.75rem;
  color: $gray;
  line-height: 1.25;

}

p {
  margin: 1rem 0;
}


// SECTIONS

.home {
  @include bg-image('images/timelapse.jpg');
  height: 50rem;
  color: white;
  h1 {
    text-transform: uppercase;
    font-size: 5em;
  } 
}

.logo {
  opacity: .8;
  &:hover {
    opacity: 1;
  }
  padding-right: 1rem;
  padding-top: 1rem;

}

.text-center {
  text-align: center;
}


// FORMS & INPUTS

input {
  font-family: @titillium;
  font-weight: 400;
}



// FANCY STYLEZ

::-moz-selection {
    background: $red;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $red;
    color: $white;
    text-shadow: none;
}

