@import 'mixins';
$gray: #666666;


$bold: 700;


.home{
  
  color: white;

  h1{
    text-transform: uppercase;
    font-size: 5em;
  }
  
  @include bg-image('images/bg1.jpg');

}


h2.heading{
  font-size:3.5em;
  color: $gray;
  border-bottom:1px #eeeeee solid;
  text-transform: uppercase;
  font-weight: $bold; 
}

text-center{
  go
  text-align: center;
}
