@import 'mixins';


// TYPOGRAPHY

h1 {
  font-size: 10rem;
  color: $white;
  text-transform: uppercase;
  margin: .5em 0;
  line-height: 1;
  font-weight: $bold;
}

h2 {
  font-size: 5.5rem;
  color: $gray;
  border-bottom: 1px $light-gray solid;
  text-transform: uppercase;
  font-weight: $bold;
}

h3 {
  font-size: 1.75rem;
  color: $gray;
  line-height: 1.25;

}

p {
  margin: 1rem 0;
}


// HEADER
.shell-logo{
  padding-top: .8rem;
}
.header {
  height: 6rem;
  padding: .2rem;
  background-color: $light-gray;
  -moz-box-shadow:    0 -.125rem .5rem .25rem rgba(0,0,0,.25);
  -webkit-box-shadow: 0 -.125rem .5rem .25rem rgba(0,0,0,.25);
  box-shadow:         0 -.125rem .5rem .25rem rgba(0,0,0,.25);
  
}


// FEATURE

.feature {
  max-height: 680px;
  color: white;
  padding: 10vw 0;
  p {
    font-size: 2rem;
    max-width: 80%;
    margin: 0 auto;
  }
}

.video-container {
  position: absolute;
  top:0%;
  left:0%;
  min-height:100%;
  min-width:100%;
  overflow: hidden;
  z-index: -100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(rgba(221,102,102,.5), rgba(221,102,102,.5)), rgba(0,0,0,0.25);
}

video#bgvid {
  position: absolute; 
  z-index:0;
  min-width: 100%;
  background:url(/images/timelapse.jpg);
}

.content {
  background: white;
}

.subscribe{
  border-bottom: 1px solid $light-gray;
  .row{
    padding:1rem;
  }
}

#subscribe{
  border: none;
  outline: none;
  width: 100%;
  padding: 2rem;
  font-size: 3rem;
  color: $gray;
}


.col-sm-12{
  padding-top:4rem;
}
.startup {
  opacity: .8;
  &:hover {
    opacity: 1;
  }
  padding-right: 1rem;
  padding-top: 1rem;
}

// BUTTON

button.apply {
  background: $red;
  color: $white;
  outline: none;
  border: none;
  padding: 40px;
  text-transform: uppercase;
  font-weight: $bold;
  font-size: 3rem;
  width: 100%;
  &:hover {
    color: $light-gray;
  }
}

.events{
  a{
    text-decoration: none;
    &:hover{
      color: darken(15%);
    }
  }
  h3{
    color: $red;
    font-size: 2.5rem;
  }
}

.startTime{
  color: $red;
  font-weight: 300;
}

.where{

}

.eventContent{

}




// FORMS & INPUTS

input {
  font-family: $titillium;
  font-weight: 400;
}

.red{
  color: $red;
}

// FANCY STYLEZ

::-moz-selection {
    background: $red;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $red;
    color: $white;
    text-shadow: none;
}

.sponsors{
  padding-bottom: 2rem;
}

.footer{
  background-color: $gray;
  color: white;
  padding: 1rem;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
    }
  }
}